<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="MarkdownConverter" Manufacturer="MarkdownConverter Team" Version="2.0.7" UpgradeCode="783eb077-d4fa-4dc4-bbf8-661cd9dc6ee8">
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />
    
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="MarkdownConverter" />
    </StandardDirectory>
    
    <StandardDirectory Id="ProgramMenuFolder">
      <Component Id="ApplicationShortcut" Guid="983eb077-d4fa-4dc4-bbf8-661cd9dc6ee9">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="MarkdownConverter" Description="Markdown to PDF Converter" Target="[INSTALLFOLDER]MarkdownConverter.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="CleanUpShortCut" Directory="ProgramMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\MarkdownConverterTeam\MarkdownConverter" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="..\..\bin\Release\net10.0\win-x64\publish\**" />
    </ComponentGroup>
    
    <Feature Id="Main">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Package>
</Wix>
